.hidden {
  display: none;
}



.login_center {
  position: fixed; /* or absolute */
  top: 50%;
  left: 0;
  width:100%;
  height:140px;
  /* bring your own prefixes */
  transform: translate(0, -50%);
  background-color: rgba(0,0,0,0.2)
}

.middle_center {
  position: fixed;
  left: 50%;
  transform: translate(-50%,0);
}
