.hidden {
  display: none;
}



.login_center {
  position: fixed; /* or absolute */
  top: 50%;
  left: 0;
  width:100%;
  /* bring your own prefixes */
  transform: translate(0, -50%);
  background-color: rgba(0,0,0,0.2)
}

.middle_center {
  position: relative;
  left: 50%;
  width:200px;
  transform: translate(-50%,0);
  margin-bottom: 20px;
}
