<div [class.hidden]="showComponent!=='splash'">
  <div class="login_center" *ngIf="showLogin">
    <div class="middle_center">
      <div>
        <h1 style="color:white;text-align:center">Explore Austria's Open Data visually with a bot!</h1>
        <div style="display:flex;justify-content:center;text-align:center">
          <button class="btn btn-lg btn-info" style="margin:auto"
                  type="button"
                  (click)="onLoginClicked()">
            <i class="fa fa-facebook fa-fw"></i> Continue with Facebook
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
