<div [class.hidden]="showComponent!=='opendata'" class="centered">
  <div style="padding-bottom: 96px">
    <div style="background:white">
      <h3>Results: {{searchResults.total}}</h3>
    </div>
    <div *ngFor="let opendata of searchResults.results"
         style="background-color: white;margin-top:6px;margin-bottom:6px;padding:6px;">
        <h4>{{opendata.dataset?.dataset_name}}</h4>
        {{opendata.dataset?.dataset_description}}<br>
        {{opendata.dataset?.publisher}} - {{opendata.portal}} - Zeilen: {{opendata.row_no}}<br>
        <button *ngIf="opendata.dataset" class="btn btn-info" style="margin:3px"
                type="button"
                (click)="onVisualize(opendata)">
          Visualize
        </button>
       <!--   -->
        <button class="btn btn-info" style="margin:3px"
                    type="button"
                    (click)="onExplore(opendata)">
             Base Stats
        </button>
      <button *ngIf="opendata.dataset"  class="btn btn-info" style="margin:3px"
              type="button"
              (click)="onScatter(opendata)">
        ScatterPlot
      </button>
      <a href="{{opendata.url}}" target="_blank" class="btn btn-info" style="margin:3px" role="button">Download</a>
    </div>
  </div>
</div>
