<div [class.hidden]="showComponent!=='opendata'" class="centered">
  <h4>found: {{searchResults.length}}</h4>
<div *ngFor="let opendata of searchResults">
  <div *ngIf="opendata.distribution.length>0">
    {{opendata.name}} - {{opendata.description}}
    <div *ngFor="let dist of opendata.distribution">
      <div *ngIf="dist.fileFormat==='text/csv'">
        <button class="btn btn-info" style="margin:auto"
                type="button"
                (click)="onExploreUrl(dist.contentURL)">
          Explore Data
        </button>
        <a href={{dist.contentURL}} target="_blank">Download</a>
      </div>
    </div>
    <hr>
  </div>
</div>
</div>
