.landing_fullscreen {
  height: 100vh;
  padding-bottom: 0;
  padding-top: 0;
  width: 100vw;
  overflow:auto;
  #text-align: center;
}

.landing {
  background-image: url(../assets/background_splash_2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: repeat;
  background-attachment: fixed;
}
