<div [class.hidden]="showComponent!=='visual'"  class="centered_visual">

  <div *ngIf="loading" >
    <div class="loading_center">
      <div class="middle_center">
        <div>
          <h3 style="color:white;text-align:center">Loading.. Please be Patient!</h3>
          <div style="display:flex;justify-content:center;text-align:center">
            <div class="loading"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id ="{{visual_id}}" class="padding_bottom">
  </div>
</div>
