.hidden {
  display: none;
}
/*

  top: 50%;
  transform: translateY(-50%);
  position:absolute;
 */

/*
  //padding-top:66px;
  max-width:1024px;
  width:100%;
  height:100vh;
  min-height:100vh;
  //height:650px;
  max-height:100vh;
  margin:auto;
  left:0px;
  right:0px;

 */

.padding_bottom {
  padding-top:66px;
  padding-bottom: 66px;
}

.centered_visual {
  height: 100vh;
  width: 100vw;
  max-width: 80vh;
  margin-left:auto;
  margin-right:auto;
  left:0px;
  right:0px;
}
