<!--<h3 *ngIf="!(uploadState | async)">Bot waiting...</h3>-->
<div style="background-color: transparent
    ;position:absolute
    ;top:0px;right:0px
    ;z-index:2000
    ;max-width: 400px;width:100%;box-shadow: 0 0 0 0;
    padding:0px;">
  <form class="chat-message" style="background-color: white;padding:0px;">
    <md-input-container >
      <input mdInput
             placeholder="Write stuff"
             name="name" #message
             (keyup.enter)="queryBot()"
             autocomplete="off"
             [(ngModel)]="chatmessage">
    </md-input-container>
  </form>
  <md-list *ngIf="showchatlog">
    <md-list-item style="background-color: white" *ngFor="let message of botChat">
      <b *ngIf="message.you">You: </b> {{message?.you}}
      <b *ngIf="message.bot_response">Ben: </b> {{ message?.bot_response?.result?.fulfillment?.speech }}
    </md-list-item>
  </md-list>
</div>
