.btn {
  background-color: rgba(0,0,0,0.3);
}
.full-width {
    width: 90vw;
}
.input_container {
  #height: 60px;
  padding-left: 6px;
  padding-right: 6px;
  #padding-bottom: 6px;
  margin:auto;
}
.chat_input {

}


.reboting_list {
  padding-left: 6px;
  padding-right: 6px;
  padding-top:6px;
  padding-bottom:0px;
  background-color: transparent;
  border: 0px solid transparent;
  #display: flex;
}

.quickreply_list {
  display: block;
  position: relative;
  white-space: nowrap;
  overflow-x:auto;
}

.list-group-item {
  background-color: rgba(0,0,0,0.3);
  border: 0px solid rgba(0,0,0,0.3);
  color : white;
}
