<!--<h3 *ngIf="!(uploadState | async)">Bot waiting...</h3>-->
<div style="background-color: transparent
    ;position:absolute
    ;top:0px;right:0px
    ;z-index:2000
    ;max-width: 500px;width:100%;box-shadow: 0 0 0 0;
    padding:0px;">
  <div class="input_container">
    <div class="input-group input-group-lg chat_input">
      <input
              class="form-control"
              type="text"
              placeholder="Write stuff"
              (keyup.enter)="queryBot()"
              autocomplete="off"
              [(ngModel)]="chatmessage">
      <!--- Buttons for
         - enable / recording
         - start recording enabled disabled
         - enable / disable aut listening
      -->
      <span class="input-group-btn">
          <button *ngIf="!configModel.autorecord" class="btn btn-success"
                  type="button"
                  [(ngModel)]="configModel.recording"
                  title="Record Input"
                  (click)="onClickRecord()"
                  btnCheckbox>
            <i class="fa fa-microphone" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success"
                  type="button"
                  [(ngModel)]="configModel.synthesis"
                  title="Speech Output"
                  btnCheckbox>
              <i class="fa fa-comment-o" aria-hidden="true"></i>
          </button>
          <button class="btn btn-success"
                type="button"
                title="Listen all the time to: Okay Ben"
                [(ngModel)]="configModel.autorecord"
                  (click)="onClickListen()"
                btnCheckbox>
              <i class="fa fa-assistive-listening-systems" aria-hidden="true"></i>
          </button>
      </span>
    </div>
  </div>
  <div *ngIf="showchatlog">
    <div *ngFor="let message of botChat" class="list-group-item">
       <b *ngIf="message.you">You: </b> {{message?.you}}
       <b *ngIf="message.bot_response">Ben: </b> {{ message?.bot_response?.result?.fulfillment?.speech }}
    </div>
  </div>
</div>
